{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.displayName}}
  <button {{action "signOut"}}>Sign out</button>
{{else}}
  {{#link-to 'login'}}Sign in{{/link-to}}
{{/if}}
<h1 id="title">{{#link-to 'index'}}Code Reviews{{/link-to}}<br>
<small>Rating coding tools so you can find the best tool for the job.</small></h1>
<div class="content">
  {{outlet}}
</div>
{{#link-to 'add-review'}}Add a Review{{/link-to}}
