<div class="ui grid">
  <div class="twelve wide column">
    <h3 class="ui header"><i class="circular inverted black code small icon"></i><div class="content">Tools <div class="sub header">Find what will fit in your toolbelt.</div></div></h3>
    <div class="ui relaxed divided list">
      {{#each model.reviews as |review|}}
        <div class="item">
          {{#link-to 'review' review}}{{review.name}}{{/link-to}}
        </div>
      {{/each}}
    </div>
  </div>
  {{session.userData}}

  <div class="four wide column">
    <h3 class="ui header">Tags</h3>
    <div class="ui list">
      {{tags-menu tags=model.tags}}
    </div>
  </div>
</div>
