<div class="ui grid">
  <div class="twelve wide column">
    {{#each model.reviews as |review|}}
      {{#link-to 'review' review}}{{review.name}}{{/link-to}}
    {{/each}}
  </div>

  <div class="four wide column">
    {{#each model.tags as |tag|}}
      {{#link-to 'tag' tag}}{{tag.name}}{{/link-to}}
    {{/each}}
  </div>
</div>
